@page "/"

<PageTitle>Index</PageTitle>

<h1>NeoSmart</h1>

Sistematización del proceso de Formación y entrenamiento empresarial

<SurveyPrompt Title="Logra equipos comprometidos, eficientes y potencia las habilidades del futuro, obteniendo grandes resultados" />
