@page "/capacitations/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Nueva Capacitación</h3>

<CapacitationForm @ref="capacitationForm" Capacitation="capacitation" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private Capacitation capacitation = new();
    private CapacitationForm? capacitationForm;

    private async Task CreateAsync()
    {
        var response = await repository.PostAsync("/api/capacitations", capacitation);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito.");
    }

    private void Return()
    {
        capacitationForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/capacitations");
    }
}