@page "/capacitations"
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Capacitaciones</h3>

<GenericList MyList="capacitations">
    <NoRecords>
        <p>Aun no hay Capacitaciones registradas.</p>
    </NoRecords>
    <Body>
        <a href="/capacitations/create" class="btn btn-primary">Nueva Capacitación</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Capacitación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var capacitation in capacitations!)
                {
                    <tr>
                        <td>@capacitation.Name</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/capacitations/edit/@capacitation.Id">Editar</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(capacitation))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    private List<Capacitation>? capacitations;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var response = await repository.GetAsync<List<Capacitation>>("api/capacitations");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        capacitations = response.Response;
    }

    private async Task DeleteAsync(Capacitation capacitation)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quieres borrar la capacitación: {capacitation.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var response = await repository.DeleteAsync($"api/capacitations/{capacitation.Id}");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await LoadAsync();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}