@page "/roles/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Nuevo Role</h3>

<RoleForm @ref="roleForm" Role="role" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private Role role = new();
    private RoleForm? roleForm;

    private async Task CreateAsync()
    {
        var response = await repository.PostAsync("/api/roles", role);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito.");
    }

    private void Return()
    {
        roleForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/roles");
    }
}
