@page "/themes"
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Temas</h3>

<GenericList MyList="themes">
    <NoRecords>
        <p>Aun no hay Temas registrados.</p>
    </NoRecords>
    <Body>
        <a href="/themes/create" class="btn btn-primary">Nuevo Tema</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tema</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var theme in themes!)
                {
                    <tr>
                        <td>@theme.Name</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/themes/edit/@theme.Id">Editar</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(theme))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    private List<Theme>? themes;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var response = await repository.GetAsync<List<Theme>>("api/themes");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        themes = response.Response;
    }

    private async Task DeleteAsync(Theme theme)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quieres borrar el tema: {theme.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var response = await repository.DeleteAsync($"api/themes/{theme.Id}");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await LoadAsync();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}